<div class="login-page">
  <div class="l-swiper">
    <div class="l-top">
      <div class="l-logo">
        <img src="assets/img/ic_logo.svg" />
      </div>
      <ui-carousel [infinite]="true" [fade]="false" [speed]="200" [autoPlay]="false" [arrows]="false">
        <ui-carousel-item *ngFor="let item of items">
          <div class="ui-item" style="background:transparent">
            <img [src]="item.img" />
            <p>{{item.text}}</p>
          </div>
        </ui-carousel-item>
      </ui-carousel>
    </div>
  </div>

  <div class="sign-in">
    <span>Sign In</span>
    <div class="sign-in-third-party">
      <button mat-button [routerLink]="['/feed/start']" class="ic-true"><i class="fa fa-phone"></i>
        <span>Truecaller</span>
      </button>
      <button mat-button class="ic-fb">
        <i class="fa fa-facebook" alt="Facebook logo"></i>
        <span>Facebook</span>
      </button>
      <button mat-button class="ic-google">
        <img src="assets/img/ic_google.svg" alt="Google logo" />
        <span>Google</span>
      </button>
      <button [routerLink]="['/login']" mat-button class="ic-signup">
        <!-- <img src="assets/img/ic_google.svg" alt="signup logo" /> -->
        <i class="material-icons">person</i>
        <span>Log In</span>
      </button>
    </div>
  </div>

</div>
