.login-page {
    background: #1D2731;
    min-height: 100vh;
  
    .l-swiper {
      background: #1D2731;
      position: relative;
      padding-bottom: 50px;
  
      @media (max-width: 1199px) {
        padding-bottom: 20px;
  
        @media (max-width: 767px) {
          padding-bottom: 15px;
        }
      }
  
      .l-top {
        position: relative;
        z-index: 99;
      }
  
      .l-logo {
        text-align: center;
        padding-top: 50px;
  
        @media (max-width: 480px) {
          padding-top: 20px;
        }
  
        img {
          width: 200px;
          margin: 0 auto;
  
          @media (max-width: 1199px) {
            width: 150px;
  
            @media (max-width: 767px) {
              width: 124px;
  
              @media (max-width: 480px) {
                width: 100px;
              }
            }
          }
        }
      }
  
      /deep/ .ui-carousel-item {
        text-align: center;
        background: transparent !important;
  
        .ui-item {
          img {
            width: 40px;
            margin: 60px 0 20px 0;
  
            @media (max-width: 767px) {
              margin: 40px 0 10px 0;
              width: 35px;
  
              @media (max-width: 480px) {
                margin: 30px 0 10px 0;
                width: 30px;
              }
            }
          }
  
          p {
            color: #fff;
            max-width: 350px;
            line-height: 24px;
            margin: 0 auto;
  
            @media (max-width: 767px) {
              font-size: 14px;
              font-weight: 100;
              padding: 0 30px;
  
              @media (max-width: 480px) {
                font-size: 13px;
                line-height: 18px;
                padding: 0 20px;
              }
            }
          }
        }
      }
  
      /deep/ .dot {
        opacity: .25;
        transition: 300ms all;
        margin: 0 8px;
  
        @media (max-width: 767px) {
          height: 8px;
          width: 8px;
          margin: 0 6px;
        }
  
      }
  
      /deep/ .dot.active {
        opacity: 1;
      }
  
      @media (max-width:767px) {
        /deep/ ui-carousel {
          height: 220px !important;
  
          @media (max-width: 480px) {
            height: 180px !important;
          }
        }
      }
  
      &:after {
        content: "";
        background: url(/assets/img/bg_home.png) no-repeat center center/100%;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.1;
      }
    }
  
    .sign-in {
      position: relative;
      padding: 50px 0;
  
      @media (max-width: 480px) {
        padding: 35px 0 25px;
      }
  
      >span {
        position: absolute;
        top: -19px;
        left: 0;
        right: 0;
        text-align: center;
        background: #1D2731;
        color: #fff;
        z-index: 9;
        max-width: 100px;
        padding: 10px;
        border-radius: 50px;
        margin: 0 auto;
        font-size: 14px;
        letter-spacing: 0.5px;
      }
  
      .sign-in-third-party {
        max-width: 300px;
        margin: 0 auto;
  
        @media (max-width: 480px) {
          max-width: 240px
        }
  
        button {
          border-radius: 50px;
          background: #fff;
          width: 100%;
          padding: 10px;
          font-weight: 500;
          letter-spacing: 0.5px;
  
          @media (max-width: 767px) {
            font-size: 13px;
            padding: 5px;
  
            @media (max-width: 480px) {
              padding: 2px;
              font-size: 12px;
            }
          }
  
          i,
          img {
            font-size: 20px;
            position: absolute;
            left: 35px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
          }
  
          img {
            width: 24px;
            left: 28px;
          }
        }
  
        button+button {
          margin-top: 20px;
  
          @media (max-width: 480px) {
            margin-top: 14px;
          }
        }
  
        .ic-fb {
          background: #4267B2;
          color: #fff;
        }
  
        .ic-true {
          background: #0087FF;
          color: #fff;
        }
  
        .ic-signup {
          background: #E75E00;
          color: #fff;
        }
      }
    }
  
  }
